<div class="card mt-3" style="border: 0">
  <div class="card-body">
    <a href="/"><button class="btn btn-secondary mb-3">Back</button></a>
    <input id="question-id" style="display: none;" value="{{id}}">
    <h5 class="card-title"><strong>{{title}}</strong></h5>
    <h6 class="card-subtitle mb-2 text-primary"><strong>Shortcode {{shortcode}}</strong></h6>
    <h6 class="text-secondary">by {{author.username}} on {{format_date created_at}}</h6>
    <br>
    <div id="results-panel">
      <canvas id="myChart" style="width: 100px"></canvas>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"></script>
<script>

var delayed;
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Yay', 'Nay'],
        datasets: [{
          data: [{{ yay }}, {{ nay }}],
          backgroundColor: [
          'rgba(54, 162, 235, 1)',
          'rgba(255, 99, 132, 1)'
          ],
          borderWidth: 0
          }]
        },
        options:{
          indexAxis: 'y',
          plugins: {
            legend: {display: false}
          },
          animations: {
            onComplete: () => {delayed = false;},
            delay: (context) => {
              let delay = 0;
              if (context.type === 'data' && context.mode === 'default' && !delayed) {
                  delay = context.dataIndex * 600 + context.datasetIndex * 100;
              }
              return delay;
            },
          },
          scales: {
            x: {stacked: true},
            y: {stacked: true}
          }
        }
    });  

</script>