<div class="card">
  <div class="card-body">
    <h5 class="card-title"><a href="/question/{{id}}">{{format_title title}}</a></h5>
    <h6 class="card-subtitle mb-2 text-primary"><strong>Shortcode {{shortcode}}</strong></h6>
    <h6 class="text-secondary">by {{author.username}} on {{format_date created_at}}</h6>
  </div>
</div>