<div class="card">
  <div class="card-body">
    <h5 class="card-title"><a href="/question/{{id}}"><strong>{{title}}</strong></a></h5>
    <h6 class="card-subtitle mb-2 text-primary"><strong>Shortcode {{shortcode}}</strong></h6>
    <h6 class="text-secondary">{{format_date created_at}}</h6>
    <div class="container" style="--bs-gutter-x:0">
      <div class="row">
        <div class="col text-end">
          <a href="/dashboard/edit/{{id}}" class="btn btn-primary">Edit Question</a>
        </div>
      </div> 
    </div>  
  </div>
</div>